.login-container {
    width: 360px;
    margin: 10% auto;
    border-radius: 25px;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 15px #333;
    margin-bottom: 40px;
}

.header {
    text-align: center;
    padding-top: 75px;
}

.header h1 {
    color: ghostwhite;
    font-size: 45px;
    margin-bottom: 50px;
}

.login-inputs {
    text-align: center;
}

.login-inputs input, button {
    width: 80%;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 40px;
    box-sizing: border-box;
    font-size: 15px;
    color: #333;
    margin-bottom: 40px;
}

.login-inputs button, a {
    cursor: pointer;
}

.login-button {
    padding-left: 0;
    background-color: #f3b475;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 0;
}

.login-button:hover {
    box-shadow: 2px 2px 5px #555;
    background-color: #d39c72;
}

.login-inputs input:hover {
    box-shadow: 2px 2px 5px #555;
    background-color: #ddd;
}

.login-inputs span {
    position:relative;
}

.login-inputs i {
    position: absolute;
    left: 15px;
    color: #333;
    font-size: 16px;
    top: 2px;
    margin-bottom: 40px;
}

.registration-button {
    font-size: small;
    padding-right: 20%;
    text-decoration: none;
    color: #fff;
    list-style: none;
}

@media (max-width: 500px) {
    .login-container {
        width: 250px;
    }
}