* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(214, 214, 214);
    font-family: sans-serif;
}

.page-title {
    font-family: sans-serif;
    font-weight: bold;
}

.container-main {
    width: 600px;
    margin: 10% auto;
    border-radius: 25px;
    background-color: #ffffff;
}

.menu-bar {
    background-image: url("../img/banner.jpg");
    text-align: center;
    overflow: hidden;
    background-size: contain;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}

.active, .menu-bar ul li:hover {
    background: #f3b475;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.icon {
    font-size: 30px;
}

.content {
    height: 1000px;
}

footer * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer > div {
    max-width: 1000px;
    margin: auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

footer {
    background-color: #24262b;
    padding: 40px 0;
}

ul {
    list-style: none;
}

.footer-list {
    list-style: none;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 15px;
    color: #ffff;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #f3b475;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 10px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffff;
    padding-left: 10px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin-right: 10px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}